/* You can add global styles to this file, and also import other style files */
body {
    background-color: #30263d;
    font-family: -apple-system, Helvetica Neue, Segoe UI, Roboto, Oxygen, Ubuntu,
      Cantarell, Open Sans, sans-serif;
    text-transform: uppercase;
  }